<template name="Posts">
	<h1 class="page-header">Post List</h1>
	{{#if Template.subscriptionsReady}}
		{{#each posts}}
			<h2>
				<a href="/posts/{{slug}}">{{title}}</a>
			</h2>
			<p>
				<span class="glyphicon glyphicon-time"></span> Posted on {{createdAt}}
			</p>
			<p class="lead">
				{{summary}}
			</p>
			<a class="btn btn-primary" href="/posts/{{slug}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
			<hr>
		{{/each}}
	{{else}}
		{{> spinner}}
	{{/if}}
</template>